In [1]:
from sqlalchemy import create_engine

#  Sqlalchemy

SQLAlchemy是Python编程语言下的一款ORM框架，该框架建立在数据库API之上，使用关系对象映射进行数据库操作，简言之便是：将对象转换成SQL，然后使用数据API执行SQL并获取执行结果。

ORM方法论基于三个核心原则：

简单：以最基本的形式建模数据。

传达性：数据库结构被任何人都能理解的语言文档化。

精确性：基于数据模型创建正确标准化了的结构。

Dialect用于和数据API进行交流，根据配置文件的不同调用不同的数据库API，从而实现对数据库的操作，如：

'数据库类型+数据库驱动名称://用户名:口令@机器地址:端口号/数据库名'
```
MySQL-Python

mysql+mysqldb://<user>:<password>@<host>[:<port>]/<dbname>
pymysql

mysql+pymysql://<username>:<password>@<host>/<dbname>[?<options>]
MySQL-Connector

mysql+mysqlconnector://<user>:<password>@<host>[:<port>]/<dbname>
cx_Oracle

oracle+cx_oracle://user:pass@host:port/dbname[?key=value&key=value...]
```

## 1.基本操作：
1）链接数据库：create_engine()

In [4]:
create_engine?

In [1]:
user='root'
passwd = 'Wjl62300313.'
host='localhost'
port=3306
dbname='test'

In [7]:
dsn = f"mysql+pymysql://{user}:{passwd}@{host}:{port}/{dbname}"

In [8]:
try:
    # 初始化数据库连接，可直接与数据库交互，或传递给一个Session,echo查看生成的sql语句
    eng = create_engine(dsn, echo=True)
    # 引擎创建失败，不支持所选的数据库，通常抛出ImportError
except ImportError:
    raise RuntimeError()

2）字段和数据类型及操作方法

在sqlalchemy.schema包里有数据库关系的描述，列举几个最常用的：

字段：Column

索引：Index

表：Table

数据类型在sqlalchemy.types包，列举几个最常用的:

二进制：BIGINT

布尔：BOOLEAN

字符：CHAR

可变字符：VARCHAR

日期：DATETIME

其他方法 execute,update,insert,select,delete,join等 自行补脑

3)创建表结构

使用 Schema Type/SQL Expression Language/Engine/ConnectionPooling/Dialect 进行数据库操作。Engine使用Schema Type创建一个特定的结构对象，之后通过SQL Expression Language将该对象转换成SQL语句，然后通过 ConnectionPooling 连接数据库，再然后通过 Dialect 执行SQL，并获取结果。

In [40]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey, desc

In [11]:
# 获取元数据
metadata = MetaData()

In [15]:
Table?

In [12]:
# 定义表
user = Table('user', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(20)),
    )
color = Table('color', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(20)),
    )

In [23]:
user.c?  
# An alias for the :attr:`.columns` attribute.

In [14]:
# 创建数据表，如果数据表存在，则忽视
metadata.create_all(eng)

2020-06-19 11:07:32,549 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-06-19 11:07:32,549 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:07:32,549 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-06-19 11:07:32,549 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:07:32,564 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-06-19 11:07:32,564 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:07:32,564 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-06-19 11:07:32,564 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:07:32,580 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-06-19 11:07:32,580 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:07:32,580 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-06-19 11:07:32,580 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:07:32,580 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-06-19 11:07:32,580 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:07:32,596 INFO sqlalchemy.engine.base.Engine DESCRIBE `user`
2020-06-19 11:07:32,596 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:07:32,596 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-06-19 11:07:32,596 INFO sqlalchemy.engine.base.Engine DESCRIBE `color`
2020-06-19 11:07:32,596 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:07:32,611 INFO sqlalchemy.engine.base.Engine ROLLBACK
2020-06-19 11:07:32,611 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(20),
	PRIMARY KEY (id)
)


2020-06-19 11:07:32,611 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:07:32,658 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-19 11:07:32,658 INFO sqlalchemy.engine.base.Engine
CREATE TABLE color (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(20),
	PRIMARY KEY (id)
)


2020-06-19 11:07:32,658 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:07:32,689 INFO sqlalchemy.engine.base.Engine COMMIT

d:\python3.7\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)

3）插入一条数据

使用 Engine/ConnectionPooling/Dialect 进行数据库操作，Engine使用ConnectionPooling连接数据库，然后再通过Dialect执行SQL语句。

In [18]:
eng.execute(
    "INSERT INTO students.color(id, name) VALUES ('2', 'ulysses');"
)
result = eng.execute('select * from color')
print(result.fetchall())

2020-06-19 11:10:20,850 INFO sqlalchemy.engine.base.Engine INSERT INTO students.color(id, name) VALUES ('2', 'ulysses');
2020-06-19 11:10:20,850 INFO sqlalchemy.engine.base.Engine {}
2020-06-19 11:10:20,866 INFO sqlalchemy.engine.base.Engine COMMIT
2020-06-19 11:10:20,866 INFO sqlalchemy.engine.base.Engine select * from color
2020-06-19 11:10:20,866 INFO sqlalchemy.engine.base.Engine {}
[(1, 'ulysses'), (2, 'ulysses')]

4) 增删改查

In [19]:
# 增加

# 创建连接
conn = eng.connect()
# 创建SQL语句，INSERT INTO "user" (id, name) VALUES (:id, :name)
conn.execute(user.insert(),{'id':7,'name':'seven'})
conn.close()

2020-06-19 11:14:57,310 INFO sqlalchemy.engine.base.Engine INSERT INTO user (id, name) VALUES (%(id)s, %(name)s)
2020-06-19 11:14:57,310 INFO sqlalchemy.engine.base.Engine {'id': 7, 'name': 'seven'}
2020-06-19 11:14:57,326 INFO sqlalchemy.engine.base.Engine COMMIT

In [20]:
# 或者按照下面的方式创建
conn = eng.connect()
sql = user.insert().values(id=123, name='wu')
conn.execute(sql) 
conn.close()

2020-06-19 11:15:46,765 INFO sqlalchemy.engine.base.Engine INSERT INTO user (id, name) VALUES (%(id)s, %(name)s)
2020-06-19 11:15:46,765 INFO sqlalchemy.engine.base.Engine {'id': 123, 'name': 'wu'}
2020-06-19 11:15:46,765 INFO sqlalchemy.engine.base.Engine COMMIT

In [24]:
# 删除
#删除一条user表里的 条件是id大于1的
conn = eng.connect()
sql = user.delete().where(user.c.id > 1)
conn.execute(sql)
#关闭链接
# conn.close()

2020-06-19 11:17:56,002 INFO sqlalchemy.engine.base.Engine DELETE FROM user WHERE user.id > %(id_1)s
2020-06-19 11:17:56,002 INFO sqlalchemy.engine.base.Engine {'id_1': 1}
2020-06-19 11:17:56,002 INFO sqlalchemy.engine.base.Engine COMMIT

In [25]:
conn = eng.connect()

In [26]:
# 修改/更新
# INSERT INTO USER VALUES (1, 'a'), (2, 'b'), (3, 'c'), (4, 'd');


#把名字为d的修改为ddd
sql = user.update().where(user.c.name == 'd').values(name='dd')
conn.execute(sql)

2020-06-19 11:22:57,026 INFO sqlalchemy.engine.base.Engine UPDATE user SET name=%(name)s WHERE user.name = %(name_1)s
2020-06-19 11:22:57,026 INFO sqlalchemy.engine.base.Engine {'name': 'dd', 'name_1': 'd'}
2020-06-19 11:22:57,026 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
# 查询  注：请导入查询模块
from sqlalchemy import select

#查询user表里的内容
sql = select([user, ])
res = conn.execute(sql)
res.fetchall()

2020-06-19 11:24:41,950 INFO sqlalchemy.engine.base.Engine SELECT user.id, user.name
FROM user
2020-06-19 11:24:41,950 INFO sqlalchemy.engine.base.Engine {}

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'dd')]

In [28]:
#查询user表下的id
sql = select([user.c.id, ])
res = conn.execute(sql)
res.fetchall()

2020-06-19 11:25:12,310 INFO sqlalchemy.engine.base.Engine SELECT user.id
FROM user
2020-06-19 11:25:12,310 INFO sqlalchemy.engine.base.Engine {}

[(1,), (2,), (3,), (4,)]

In [29]:
#查询user表和color表的name，条件是user表的id1=color的id1
sql = select([user.c.name, color.c.name]).where(user.c.id == color.c.id)
res = conn.execute(sql)
res.fetchall()

2020-06-19 11:27:26,173 INFO sqlalchemy.engine.base.Engine SELECT user.name, color.name
FROM user, color
WHERE user.id = color.id
2020-06-19 11:27:26,173 INFO sqlalchemy.engine.base.Engine {}

[('a', 'ulysses'), ('b', 'ulysses')]

In [31]:
# 查询user表的name，并按照条件排序
# 按名字
sql = select([user.c.name]).order_by(user.c.name)
res = conn.execute(sql)
res.fetchall()

2020-06-19 11:28:36,972 INFO sqlalchemy.engine.base.Engine SELECT user.name
FROM user ORDER BY user.name
2020-06-19 11:28:36,972 INFO sqlalchemy.engine.base.Engine {}

[('a',), ('b',), ('c',), ('dd',)]

In [41]:
# 按id 降序
sql = select([user.c.name]).order_by(desc(user.c.id))
res = conn.execute(sql)
res.fetchall()

2020-06-19 11:36:58,360 INFO sqlalchemy.engine.base.Engine SELECT user.name
FROM user ORDER BY user.id DESC
2020-06-19 11:36:58,360 INFO sqlalchemy.engine.base.Engine {}

[('dd',), ('c',), ('b',), ('a',)]

{'__wrapped__': <function sqlalchemy.sql.selectable.GenerativeSelect.order_by(self, *clauses)>}

In [ ]:
select().order_by